@font-face {
  font-family: ComfortaaLight;
  src: url('assets/fonts/Comfortaa-Light.ttf');
}
.quickAnimation {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated-300ms {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animationFix {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
}
.delay-100ms {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
.delay-200ms {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.delay-300ms {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
.delay-400ms {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
.delay-600ms {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.delay-700ms {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}
.delay-800ms {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}
.delay-900ms {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}
.modalWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalWindow .imageWrapper {
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
.modalWindow .imageWrapper .modalContent {
  max-height: 90vh;
  max-width: 90vw;
}
.modalWindow .imageWrapper .close {
  opacity: 0.8;
  transition: opacity 200ms ease-in-out;
  position: absolute;
  right: 0;
  top: 0;
}
.modalWindow .imageWrapper .close:hover {
  opacity: 1;
}
.modalWindow .imageWrapper .close .closeModal {
  background: #ddd;
  padding: 10px;
  cursor: pointer;
  color: #2b2a29;
  transition: all 200ms ease-in-out;
}
