<h2 class="page-header">Dashboard</h2>



<label>Header: <input type="text" placeholder="Header" [(ngModel)]="chosenArticleTitle" ></label>
<label>Content: <input type="text" placeholder="Content" [(ngModel)]="chosenArticleContent"></label>
<label>File: <input type="file" (change)="fileChanged($event)"></label>
<label>Date: <input type="date" placeholder="Date" [(ngModel)]="chosenArticleDate"></label>
<label>Group: <input type="text" placeholder="Group" [(ngModel)]="chosenArticleGroup"></label>

<div class="submitButton" (click)="submitPressed()">submit</div>


