@font-face {
  font-family: ComfortaaLight;
  src: url('assets/fonts/Comfortaa-Light.ttf');
}
.defaultTextTransition {
  transition: color 200ms ease-in-out;
}
.quickAnimation {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated-300ms {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animationFix {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
}
.duration-100ms {
  -webkit-animation-duration: 100ms;
  animation-duration: 100ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.duration-200ms {
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.duration-300ms {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.duration-400ms {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.duration-500ms {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.duration-600ms {
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.duration-700ms {
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.duration-800ms {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.duration-900ms {
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.delay-100ms {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
.delay-200ms {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.delay-300ms {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
.delay-400ms {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
.delay-600ms {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.delay-700ms {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}
.delay-800ms {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}
.delay-900ms {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}
.delay-1000ms {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.delay-1100ms {
  -webkit-animation-delay: 1100ms;
  animation-delay: 1100ms;
}
.delay-1200ms {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}
.delay-1300ms {
  -webkit-animation-delay: 1300ms;
  animation-delay: 1300ms;
}
.delay-1400ms {
  -webkit-animation-delay: 1400ms;
  animation-delay: 1400ms;
}
.delay-1500ms {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}
.delay-1600ms {
  -webkit-animation-delay: 1600ms;
  animation-delay: 1600ms;
}
.delay-1700ms {
  -webkit-animation-delay: 1700ms;
  animation-delay: 1700ms;
}
.aboutWrapper .contentSectionWrapper {
  min-height: calc(100vh - 100px - 150px);
  width: 100%;
  position: relative;
  display: flex;
}
.aboutWrapper .contentSectionWrapper .contentSection {
  width: 100%;
  display: flex;
  padding: 24px;
  height: calc(100vh - 100px - 150px - 32px);
  overflow: auto;
  margin: 16px 0 16px 29%;
  border-left: 1px solid #ccc;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem {
  flex: 2;
  height: 100%;
  padding: 16px;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem .sectionHeader {
  font-size: 1.3em;
  display: flex;
  width: 100%;
  padding-bottom: 6px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem .sectionHeader i {
  margin-right: 8px;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem .sectionContent {
  flex: 1;
  width: 100%;
  height: 100% - 1.3em - 24px;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.skillSection .sectionHeader .skillsIcon {
  background-image: url("../../../assets/icons/skills.png");
  background-size: contain;
  width: 24px;
  height: 27px;
  display: inline-block;
  margin-right: 8px;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.skillSection .sectionContent .skillItem {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.skillSection .sectionContent .skillItem .skillItemIcon {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  filter: grayscale(55%);
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.skillSection .sectionContent .skillItem .techSkillWrapper {
  flex: 1;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.skillSection .sectionContent .skillItem .techSkillWrapper .skillItemLevel {
  width: 100%;
  height: 6px;
  flex: 1;
  margin: 0 auto;
  background: #ccc;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.skillSection .sectionContent .skillItem .techSkillWrapper .skillItemLevel .skillLevel {
  width: 60%;
  height: 100%;
  background: #444;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.skillSection .sectionContent .skillItem .skillItemHeader {
  width: 100%;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.skillSection .sectionContent .skillItem .skillItemHeader .skillItemTitle {
  padding-left: 8px;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.aboutSection {
  min-width: 300px;
  padding-bottom: 0 !important;
  order: 3;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.experienceSection .sectionContent .experienceLineWrapper .exprienceItem {
  margin-left: 8px;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.experienceSection .sectionContent .experienceLineWrapper .exprienceItem .experienceItemHeader {
  position: relative;
  padding-left: 18px;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.experienceSection .sectionContent .experienceLineWrapper .exprienceItem .experienceItemHeader:before {
  content: "";
  position: absolute;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #444;
  top: 6px;
  left: -3px;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.experienceSection .sectionContent .experienceLineWrapper .exprienceItem .experienceItemHeader .subHeader {
  font-size: 0.9em;
  color: #93908d;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.experienceSection .sectionContent .experienceLineWrapper .exprienceItem .experienceItemDescription {
  color: #93908d;
  padding: 8px 16px 0;
  border-left: 1px solid #444;
  user-select: none;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.experienceSection .sectionContent .experienceLineWrapper .exprienceItem .experienceItemDescription .experienceDescriptionLink {
  user-select: unset;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: color 200ms ease-in-out;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.experienceSection .sectionContent .experienceLineWrapper .exprienceItem .experienceItemDescription .experienceDescriptionLink:hover {
  color: #2b2a29;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.experienceSection .sectionContent .experienceLineWrapper .exprienceItem .experienceItemDate {
  color: #93908d;
  padding: 0 16px;
  border-left: 1px solid #444;
  padding-bottom: 16px;
  user-select: none;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.experienceSection .sectionContent .experienceLineWrapper .exprienceItem:last-child {
  position: relative;
}
.aboutWrapper .contentSectionWrapper .contentSection .sectionItem.experienceSection .sectionContent .experienceLineWrapper .exprienceItem:last-child:after {
  content: "";
  width: 15px;
  height: 2px;
  background: #444;
  position: absolute;
  left: -7px;
}
.aboutWrapper .contentSectionWrapper .profileImage {
  max-height: 100%;
  max-width: 30%;
  background-size: contain;
  background-position: bottom;
  background-image: url("../../../assets/images/bewerbungsBild.png");
  width: 35%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
}
.aboutWrapper .infoFooter {
  width: 100%;
  height: 150px;
  background: #4a4a4a;
}
.aboutWrapper .infoFooter .infoWrapper {
  display: flex;
  height: 100%;
  margin-left: 10%;
}
.aboutWrapper .infoFooter .infoWrapper .itemWrapper {
  color: #eee;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
.aboutWrapper .infoFooter .infoWrapper .itemWrapper i {
  color: #dcb979;
  margin-right: 16px;
  font-size: 2em;
  user-select: none;
}
.aboutWrapper .infoFooter .infoWrapper .column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0;
  max-width: 300px;
}
.aboutWrapper .infoFooter .mobileProfilePicture {
  display: none;
}
@media only screen and (max-width: 768px) {
  .aboutWrapper {
    height: unset;
  }
  .aboutWrapper .contentSectionWrapper {
    min-height: calc(100vh - 100px - 202.88px);
    height: unset;
  }
  .aboutWrapper .contentSectionWrapper .contentSection {
    flex-wrap: wrap;
    margin: 0;
    height: unset;
    overflow: unset;
    border-left: unset;
  }
  .aboutWrapper .contentSectionWrapper .contentSection .sectionItem {
    width: 100%;
    height: unset;
    flex: unset;
  }
  .aboutWrapper .contentSectionWrapper .profileImage {
    display: none;
  }
  .aboutWrapper .infoFooter {
    position: unset;
    height: unset;
    display: flex;
    flex-wrap: wrap;
  }
  .aboutWrapper .infoFooter .infoWrapper {
    flex: 1;
    margin: 0;
    padding: 16px 16px 24px;
    flex-wrap: wrap;
    order: 2;
  }
  .aboutWrapper .infoFooter .infoWrapper .itemWrapper {
    min-width: 100%;
    padding: 8px 16px 0 0;
  }
  .aboutWrapper .infoFooter .infoWrapper .column {
    min-width: 100%;
    padding: 0;
  }
  .aboutWrapper .infoFooter .mobileProfilePicture {
    flex: 1;
    align-self: center;
    margin: 24px;
    display: block;
    background-image: url("../../../assets/images/bewerbungsBildMobile.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    min-width: 150px;
    order: 1;
  }
}
@media only screen and (max-width: 1440px) {
  .sectionContent {
    height: auto;
  }
  .contentSection {
    display: block !important;
    height: calc(100vh - 250px);
    overflow: auto;
  }
  .contentSection .sectionItem {
    height: unset !important;
  }
}
