<div class="aboutWrapper">

    <div class="contentSectionWrapper">
        <div class="profileImage animated slideInLeft delay-500ms duration-500ms"></div>
        <div class="contentSection ">

            <div class="sectionItem aboutSection animated fadeIn customDelay" >
                <div class="sectionHeader"> <i class="material-icons">person</i>About me</div>
                <div class="sectionContent">
                        <!-- <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                        gubergren.</p> 
                        <p>No sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                        et dito.</p>
                        <p>No sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                                et </p> -->


                    <p>
                        I love everything that has to do with the outdoors.
                        Basically skiing and hiking. <br>
                        Also Im a passionate photographer.
                    </p>
                    <p>
                        My friends would probably say I'm a
                        very open minded kind of person and
                        really not complicated.
                        Always open for new things to do and
                        learn. And once I've found the
                        motivation for it, I'm committed 110%.
                    </p>
                    <p>
                       Since I discovered Web Development for me, I fell in love with it.
                       To being able to create something from scratch that looks and feels exactly as you want it to.
                       To create a intuitive and user friendly Web Application that is easy to understand for everyone. 
                       All that can be accomplished in so many different kinds of ways. It never gets boring in the fast changing world of Javascript!                        
                    </p>
                </div>
            </div>

            <div class="sectionItem experienceSection animated fadeIn delay-700ms">
                <div class="sectionHeader"> <i class="material-icons">work</i>Experience</div>
                <div class="sectionContent">

                    <div class="experienceLineWrapper">
                        <div class="exprienceItem">
                            <div class="experienceItemHeader">Angular Developer <span class="subHeader">(Junior developer)</span></div>
                            <div class="experienceItemDescription"><a href="https://www.w11k.de" class="experienceDescriptionLink"
                                                                      target="blank">W11K GmbH, Stuttgart</a></div>
                            <div class="experienceItemDate">Nov. 2020 - Mar. 2021</div>
                        </div>
                        <div class="exprienceItem">
                            <div class="experienceItemHeader">Angular Developer <span class="subHeader">(Student
                                    trainee)</span></div>
                            <div class="experienceItemDescription"><a href="https://www.w11k.de" class="experienceDescriptionLink"
                                                                      target="blank">W11K GmbH, Stuttgart</a></div>
                            <div class="experienceItemDate">Apr. 2019 - Mar. 2020</div>
                        </div>
                        <div class="exprienceItem">
                            <div class="experienceItemHeader">Typescript Frontend Developer <span class="subHeader">(Student
                                    trainee)</span></div>
                            <div class="experienceItemDescription"><a href="http://www.softwarehelden.com/" class="experienceDescriptionLink"
                                    target="blank">Softwarehelden, Stuttgart</a></div>
                            <div class="experienceItemDate">Nov. 2017 - Mar. 2019</div>
                        </div>
                        <div class="exprienceItem">
                            <div class="experienceItemHeader">Photographer</div>
                            <div class="experienceItemDescription">Freelancing</div>
                            <div class="experienceItemDate">Since Feb. 2017</div>
                        </div>
                        <div class="exprienceItem">
                            <div class="experienceItemHeader">Computer Science & Media</div>
                            <div class="experienceItemDescription"><a href="https://www.hdm-stuttgart.de/english" class="experienceDescriptionLink"
                                    target="blank">Media University, Stuttgart</a></div>
                            <div class="experienceItemDate">Oct. 2016 - Mar. 2020</div>
                        </div>
                        <div class="exprienceItem">
                            <div class="experienceItemHeader">Receptionist</div>
                            <div class="experienceItemDescription"><a href="https://www.hotelhinterglemm.com/en/" class="experienceDescriptionLink"
                                    target="blank">Hotel Edelweiss, Hinterglemm</a></div>
                            <div class="experienceItemDate">Dec. 2015 - Apr. 2016</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sectionItem skillSection animated fadeIn delay-900ms">
                <div class="sectionHeader"> <div class="skillsIcon"></div> Skills</div>
                <div class="sectionContent">
                    <div class="skillItem" *ngFor="let skillItem of skillItems">
                        <img class="skillItemIcon" [src]="skillItem.iconPath" alt="">
                        <div class="techSkillWrapper">
                            <div class="skillItemTitle">{{skillItem.technology}}</div>
                            <div class="skillItemLevel">
                                <div class="skillLevel" [ngStyle]="{'width': skillItem.skillLevel}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="infoFooter animated slideInUp duration-500ms">

        <div class="infoWrapper">

            <div class="column">
                <div class="itemWrapper"><i class="material-icons">star</i>Feb 1996, Germany</div>
                <div class="itemWrapper"><i class="material-icons">home</i> Stuttgart, Germany</div>
            </div>

            <div class="column">
                <div class="itemWrapper"><i class="material-icons">email</i>beiserjohannes@gmail.com</div>
                <div class="itemWrapper"><i class="material-icons">phone</i>+49 17691395981</div>
            </div>
        </div>
        <div class="mobileProfilePicture"></div>
    </div>
</div>
