<div class="aboutWrapper">

    <div class="contentSectionWrapper">
        <div class="profileImage animated slideInLeft delay-500ms duration-500ms" ></div>
        <div class="contentSection">

            <div class="sectionItem leftInnerSection">
                <div class="sectionHeader"> <i class="material-icons">work</i>Experience</div>
                <div class="sectionContent"></div>
            </div>
            <div class="sectionItem middleInnerSection">
                <div class="sectionHeader"> <i class="material-icons">work</i>Skills</div>
                <div class="sectionContent"></div>
            </div>
            <div class="sectionItem rightInnerSection">
                <div class="sectionHeader"> <i class="material-icons">person</i>About me</div>
                <div class="sectionContent">

                    <p>I love everything that has to do with
                        the outdoors. <br>
                        Basically skiing and
                        hiking. <br>
                        Also into Thru-hiking &
                        Photography.</p>

                    <p>My friends would probably say I'm a
                        very open minded kind of Person and
                        really not complicated.<br>
                        Always open for new things to do and
                        learn. And once I've found the
                        motivation for it, I'm committed 110%.</p>

                    <p>I really don't see most things as too
                        complicated. <br> 
                        Lots of things can be
                        quite easy if you talk about it openly.<br>
                        Communication is the NO. 1 thing
                        when it comes to efficiency or general
                        well being in a job in my opinion.</p>
                </div>
            </div>

        </div>
    </div>



    <div class="infoFooter animated slideInUp duration-500ms">

        <div class="infoWrapper">

            <div class="column">
                <div class="itemWrapper"><i class="material-icons">star</i> 06. Feb 1996</div>
                <div class="itemWrapper"><i class="material-icons">home</i> Stuttgart, Germany</div>
            </div>

            <div class="column">
                <div class="itemWrapper"><i class="material-icons">email</i>beiserjohannes@gmail.com</div>
                <div class="itemWrapper"><i class="material-icons">phone</i>+49 17691395981</div>
            </div>
        </div>
    </div>
</div>
