@font-face { font-family: ComfortaaLight; src: url('assets/fonts/Comfortaa-Light.ttf'); }

@defaultFont: ComfortaaLight;
@textColor: #2b2a29;
@backgroundWhite: #f1ede5;
@dropdownMenuColor: #e2d9c7;
@menuActiveColor: #c3a368;
@menuActiveColor2: #d4ccbc;





