
@import '../../../../globalVariables.less';

.detail-view-wrapper{
    max-width: 950px;
    .articleHeader{
        border-bottom: @defaultBorder;
        margin: 50px 0 30px;
        display: flex;
        align-items: center;
        padding-bottom: 8px;

        .close-detailView-button{
            cursor: pointer;
        }

        .headerText{
            margin-left: 20px;
            color: @textColor;
            font-size: 1.75rem;
        }
        .articleDate{
            margin-left: auto;
            text-align: right;
        }
    }
    
   
}

@media only screen and(max-width: @mobileBreakpoint){
    .detail-view-wrapper{
        .articleHeader{
            margin: 0 0 30px;
            .articleDate{
                display: none;
            }
            .headerText{
                font-size: 1.2rem !important;
            }
        }
       
    }
}