@font-face {
  font-family: ComfortaaLight;
  src: url('assets/fonts/Comfortaa-Light.ttf');
}
.defaultTextTransition {
  transition: color 200ms ease-in-out;
}
.quickAnimation {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated-300ms {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animationFix {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
}
.delay-100ms {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
.delay-200ms {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.delay-300ms {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
.delay-400ms {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
.delay-600ms {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.delay-700ms {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}
.delay-800ms {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}
.delay-900ms {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}
.delay-1000ms {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.delay-1100ms {
  -webkit-animation-delay: 1100ms;
  animation-delay: 1100ms;
}
.delay-1200ms {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}
.delay-1300ms {
  -webkit-animation-delay: 1300ms;
  animation-delay: 1300ms;
}
.delay-1400ms {
  -webkit-animation-delay: 1400ms;
  animation-delay: 1400ms;
}
.delay-1500ms {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}
.delay-1600ms {
  -webkit-animation-delay: 1600ms;
  animation-delay: 1600ms;
}
.delay-1700ms {
  -webkit-animation-delay: 1700ms;
  animation-delay: 1700ms;
}
.navbarContainer {
  opacity: 0.1 !important;
}
.home-wrapper {
  height: calc(100vh - 100px);
  background-image: url("../../../assets/images/frontPageImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
}
.home-wrapper .interactiveMenu {
  width: 600px;
  margin: 100px auto 0 auto;
  height: 100%;
  position: relative;
}
.home-wrapper .interactiveMenu > div {
  width: 200px;
  height: 200px;
  background: #444;
  transform: rotate(45deg);
  position: absolute;
  cursor: pointer;
}
.home-wrapper .interactiveMenu .first {
  left: 41px;
  top: 113px;
  transition: left 100ms ease-in-out;
}
.home-wrapper .interactiveMenu .first:hover {
  left: 21px;
}
.home-wrapper .interactiveMenu .second {
  top: 42px;
  left: 251px;
  transition: top 100ms ease-in-out;
}
.home-wrapper .interactiveMenu .second:hover {
  top: 22px;
}
.home-wrapper .interactiveMenu .third {
  top: 254px;
  left: 320px;
  transition: left 100ms ease-in-out;
}
.home-wrapper .interactiveMenu .third:hover {
  left: 340px;
}
.home-wrapper .interactiveMenu .forth {
  top: 325px;
  left: 110px;
  transition: top 100ms ease-in-out;
}
.home-wrapper .interactiveMenu .forth:hover {
  top: 345px;
}
