@font-face {
  font-family: ComfortaaLight;
  src: url('assets/fonts/Comfortaa-Light.ttf');
}
.defaultTextTransition {
  transition: color 200ms ease-in-out;
}
.quickAnimation {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated-300ms {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animationFix {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
}
.delay-100ms {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
.delay-200ms {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.delay-300ms {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
.delay-400ms {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
.delay-600ms {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.delay-700ms {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}
.delay-800ms {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}
.delay-900ms {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}
.delay-1000ms {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.delay-1100ms {
  -webkit-animation-delay: 1100ms;
  animation-delay: 1100ms;
}
.delay-1200ms {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}
.delay-1300ms {
  -webkit-animation-delay: 1300ms;
  animation-delay: 1300ms;
}
.delay-1400ms {
  -webkit-animation-delay: 1400ms;
  animation-delay: 1400ms;
}
.delay-1500ms {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}
.delay-1600ms {
  -webkit-animation-delay: 1600ms;
  animation-delay: 1600ms;
}
.delay-1700ms {
  -webkit-animation-delay: 1700ms;
  animation-delay: 1700ms;
}
.animated.delay-100ms {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
.animated.delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
.animated.delay-1500ms {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}
.animated.delay-2500ms {
  -webkit-animation-delay: 2500ms;
  animation-delay: 2500ms;
}
.navBar {
  height: 100%;
  display: flex;
  z-index: 2000;
  height: 100px;
}
.navBar .navbar-logo-wrapper {
  flex: 4.5;
  display: flex;
  z-index: 2000;
  background: white;
  position: relative;
  padding-left: 4%;
}
.navBar .navbar-logo-wrapper .navbar-logo {
  background-image: url("../../../assets/images/johannesBeiserLogoPlain.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 60px;
  align-self: flex-end;
  margin-bottom: 10px;
  margin-left: 2%;
  outline: none;
  cursor: pointer;
  width: 245px;
  position: relative;
}
.navBar .navbar-logo-wrapper .navbar-logo:hover .logoJ {
  display: none;
}
.navBar .navbar-logo-wrapper .navbar-logo:hover .logoHome {
  display: block;
}
.navBar .navbar-logo-wrapper .navbar-logo .logoJ {
  background-image: url("../../../assets/images/johannesBeiserLogoJ.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 60px;
  height: 60px;
}
.navBar .navbar-logo-wrapper .navbar-logo .logoHome {
  background-image: url("../../../assets/images/johannesBeiserLogoHome.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 60px;
  height: 60px;
  display: none;
}
.navBar .menuWrapper {
  flex: 6;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 6%;
  z-index: 2000;
  background-color: white;
}
.navBar .menuWrapper .menuEntry {
  margin-bottom: 15px;
  margin-left: 4%;
  text-transform: uppercase;
  color: #2b2a29;
  font-family: ComfortaaLight;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.navBar .menuWrapper .menuEntry:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0;
  height: 2px;
  background-color: #c3a368;
  transition: opacity 0.3s ease, width 0.3s ease;
}
.navBar .menuWrapper .menuEntry:hover:after,
.navBar .menuWrapper .menuEntry:focus:after,
.navBar .menuWrapper .menuEntry:active:after,
.navBar .menuWrapper .menuEntry.active:after {
  width: 100%;
}
.navBar .dropdownMenu {
  display: none;
}
.navBar .burgerMenu {
  display: none;
}
.navBar.onHomeSite .homeImageFadeHeader {
  background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
  width: 100%;
  height: 200px;
  position: absolute;
}
.navBar.onHomeSite .navbar-logo-wrapper {
  background-color: unset;
}
.navBar.onHomeSite .menuWrapper {
  background-color: unset;
}
@media only screen and (max-width: 768px) {
  .navBar.onHomeSite .burgerMenu {
    background-color: unset;
  }
  .navBar .navbar-logo-wrapper .navbar-logo:hover .logoHome {
    display: none;
  }
  .navBar .navbar-logo-wrapper .navbar-logo:hover .logoJ {
    display: block;
  }
  .navBar .menuWrapper {
    display: none;
  }
  .navBar .dropdownMenu {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: #d4d2cf;
    z-index: 1;
    cursor: pointer;
  }
  .navBar .dropdownMenu .menuEntry {
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    color: #2b2a29;
    font-family: ComfortaaLight;
    font-size: 15px;
    outline: none;
    user-select: none;
  }
  .navBar .dropdownMenu .menuEntry.active {
    background: #bfbeba;
  }
  .navBar .burgerMenu {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 17px;
    background: white;
    z-index: 2000;
    padding-right: 4%;
  }
  .navBar .burgerMenu i {
    user-select: none;
    font-size: 30px;
    cursor: pointer;
    color: #2b2a29;
  }
  .navBar .burgerMenu i.inactive {
    display: none;
  }
}
