<nav class="navBar" [class.onHomeSite]="!_compCoService.backgroundVisible">
      <div class="navbar-logo-wrapper fadeIn animated">
        <div class="navbar-logo"  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"  [routerLink]="['/']">
          <div class="logoJ animated fadeIn"></div>
          <div class="logoHome animated fadeIn"></div>


        </div>
      </div>

      <div class="menuWrapper">
        <div class="menuEntry fadeIn animated delay-500ms" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"  [routerLink]="['/about']">About</div>
        <div class="menuEntry fadeIn animated delay-1s" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"  [routerLink]="['/travel']">Travel</div>
        <div class="menuEntry fadeIn animated delay-1500ms" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"  [routerLink]="['/photography']">Photography</div>
        <div class="menuEntry fadeIn animated delay-2s" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"  [routerLink]="['/work']">Work</div>
      </div>

      <div class="burgerMenu fadeIn animated">
          <i (click)="toggleDropdownMenu()" class="material-icons" *ngIf="!dropdownActive">menu</i>
          <i (click)="toggleDropdownMenu()" class="material-icons animated rotateIn90 duration-400ms" *ngIf="dropdownActive">close</i>
      </div>

      <div *ngIf="dropdownActive" @swipe class="dropdownMenu">
          <div (click)="toggleDropdownMenu()" class="menuEntry" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"  [routerLink]="['/']">Home</div>
          <div (click)="toggleDropdownMenu()" class="menuEntry" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"  [routerLink]="['/about']">About</div>
          <div (click)="toggleDropdownMenu()" class="menuEntry" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"  [routerLink]="['/travel']">Travel</div>
          <div (click)="toggleDropdownMenu()" class="menuEntry" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"  [routerLink]="['/photography']">Photography</div>
          <div (click)="toggleDropdownMenu()" class="menuEntry" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"  [routerLink]="['/work']">Work</div>
      </div>

<div class="homeImageFadeHeader" *ngIf="!_compCoService.backgroundVisible"></div>

      <!-- <a class="navbar-brand" href="#">Johannes Beiser</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/']">Home<span></span></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/dashboard']">Dashboard </a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/profile']">Profile </a>
          </li>
          <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/login']">Login </a>
          </li>
          <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()"><a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
          </li>
        </ul>
      </div> -->
    </nav>
