@import '../../../globalVariables.less';
.animated.delay-100ms {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}
.animated.delay-500ms {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}
.animated.delay-1500ms {
    -webkit-animation-delay: 1500ms;
    animation-delay: 1500ms;
}
.animated.delay-2500ms {
    -webkit-animation-delay: 2500ms;
    animation-delay: 2500ms;
}


.navBar{
    height: 100%;
    display: flex;
    z-index: 2000;
    height: 100px; // TODO: Remove me, only for iOS Safary& iOS Chrome --> find solution for non-available css-grid
  //  border-bottom: 1px solid #444;

    .navbar-logo-wrapper{
        flex: 4.5;
        display: flex;
        z-index: 2000;
        background: @backgroundWhite;
        position: relative;
        padding-left: 4%;

      
        .navbar-logo{
            background-image: url("../../../assets/images/johannesBeiserLogoPlain.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;

            height: 60px;
            align-self: flex-end;
            margin-bottom: 10px;
            margin-left: 2%;
            outline: none;
            cursor: pointer;
            width: 245px;
            position: relative;

            &:hover{
                .logoJ{
                    display: none;
                }
                .logoHome{
                    display: block;
                }
            }

            .logoJ{
                background-image: url("../../../assets/images/johannesBeiserLogoJ.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                width: 60px;
                height: 60px;
            }

            .logoHome{
                background-image: url("../../../assets/images/johannesBeiserLogoHome.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                width: 60px;
                height: 60px;
                display: none;
            }

        }

        
    }
  

    .menuWrapper{
        flex: 6;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 6%;
        z-index: 2000;
        background-color: @backgroundWhite;

        .menuEntry{
            margin-bottom: 15px;
            margin-left: 4%;
            text-transform: uppercase;
            color: @textColor;
            font-family: @defaultFont;
            font-size: 18px;
            cursor: pointer;
            outline: none;
            user-select: none;


            &:after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 0;
                height: 2px;
                background-color: @menuActiveColor;
                transition: opacity 0.3s ease, width 0.3s ease;
              }
              &:hover , &:focus, &:active, &.active{
                &:after {
                  width: 100%;
                }
              }
        }
    }

    .dropdownMenu{
        display: none;        
    }
    .burgerMenu{
        display: none;
    }
    &.onHomeSite{

        .homeImageFadeHeader{
            background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
            width: 100%;
            height: 200px;
            top: 0;
            left: 0;
            position: absolute;
        }

        .navbar-logo-wrapper{
            background-color: unset;
        }
        .menuWrapper{
            background-color: unset;
        }
    }
}


@media only screen and (max-width: @mobileBreakpoint){
    .navBar{

        &.onHomeSite{
    
            .burgerMenu{
                background-color: unset;
            }
        }

        .navbar-logo-wrapper{                
            .navbar-logo{
                &:hover{
                    .logoHome{
                        display: none;
                    }
                .logoJ{
                    display: block;
                }
               }
               
            }
        }

        .menuWrapper{
            display: none;
        }

        .dropdownMenu{
            display: block;
            position: absolute;
            top: 100px;
            left: 0; // TODO: Remove me, only for iOS Safary& iOS Chrome --> find solution for non-available css-grid
            width: 100%;
            background: @dropdownMenuColor;
            z-index: 1;
            cursor: pointer;

            .menuEntry{
                padding: 5px 0;
                text-align: center;
                text-transform: uppercase;
                color: @textColor;
                font-family: @defaultFont;
                font-size: 15px;
                outline: none;
                user-select: none;

                &.active{
                    background: @menuActiveColor2;
                }
            }
        }

        .burgerMenu{
            flex: 1;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding-bottom: 17px;
            background: @backgroundWhite;
            z-index: 2000;
            padding-right: 4%;


            i{
                user-select: none;
                font-size: 30px;
                cursor: pointer;
                color: @textColor;
                
                &.inactive{
                    display: none;
                }
            }            
        }
    }  
}