<div class="travelSiteWrapper">

    <div class="contentArea animated slideInLeft ">

        <h2 class="contentAreaHeader animated fadeIn delay-600ms">Articles</h2>

        <div class="article animated fadeIn delay-800ms">
            <h3>Trip to Asia</h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium aspernatur exercitationem a doloremque voluptatibus officiis molestiae id repudiandae! Consequuntur hic corrupti sapiente fuga iste eligendi accusamus laborum quae beatae vero.
        </div>

        <div class="article animated fadeIn delay-1000ms">
            <h3>Trip to Europe</h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium aspernatur exercitationem a doloremque voluptatibus officiis molestiae id repudiandae! Consequuntur hic corrupti sapiente fuga iste eligendi accusamus laborum quae beatae vero.
        </div>

        <div class="article animated fadeIn delay-1200ms">
            <h3>Trip to Africa</h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium aspernatur exercitationem a doloremque voluptatibus officiis molestiae id repudiandae! Consequuntur hic corrupti sapiente fuga iste eligendi accusamus laborum quae beatae vero.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium aspernatur exercitationem a doloremque voluptatibus officiis molestiae id repudiandae! Consequuntur hic corrupti sapiente fuga iste eligendi accusamus laborum quae beatae vero.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium aspernatur exercitationem a doloremque voluptatibus officiis molestiae id repudiandae! Consequuntur hic corrupti sapiente fuga iste eligendi accusamus laborum quae beatae vero.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium aspernatur exercitationem a doloremque voluptatibus officiis molestiae id repudiandae! Consequuntur hic corrupti sapiente fuga iste eligendi accusamus laborum quae beatae vero.
        </div>

    </div>
    <div class="timelineArea animated slideInRight">
        <h2 class="timelineHeader">Timeline</h2>
        
    </div>
    
</div>