@import '../../../globalVariables.less';
.active {
    font-weight: bold;
    color: black;
}

//Default HTML renderer Styles for the Articles defail View
.articleContent {
    //Inner HTMl flexible  default styling
    &::ng-deep img {
        width: 100%;
        margin: 20px 0;
    }
}

@media screen and (min-width: 769px) {
    .travelSiteWrapper {
        width: 100%;
        min-height: 100%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 70% 30%;
        grid-template-areas: "content timeline";
        padding: 0 5% 50px;
       
        .content-area {
            grid-area: content;
            .content-area-header {
                width: 100%;
                max-width: 850px;
                margin-top: 50px;
                padding-bottom: 8px;
                border-bottom: @defaultBorder;
                display: flex;
                align-items: center;

                .loading-container{
                    margin-left: 16px;
                    .loading{
                        height: 25px;
                        position: relative;
                        width: 25px;
                        border-radius: 100%;
                        border: 2px solid transparent;
                        border-color: transparent #444 transparent #444;
                        animation: rotate-loading 1.5s linear 0s infinite normal;
                        transform-origin: 50% 50%;
                    }                
                }
            }
            .articles {
                .article {
                    height: 250px;
                    display: flex;
                    width: 100%;
                    max-width: 850px;
                    border: 1px solid #DDD;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.14);
                    margin: 30px 0;
                    cursor: pointer;
                    position: relative;
                    .wrapper {
                        background: grey;
                        width: 100%;
                        max-width: 800px;
                        display: flex;
                        flex-wrap: wrap;
                        .header {
                            background: steelblue;
                            width: 100%;
                            display: flex;
                            padding: 8px;
                            align-items: center;
                            flex-wrap: wrap;
                            margin-bottom: 30px;
                            .title {
                                background: orange;
                                font-size: 1.6rem;
                            }
                            .date {
                                background: limegreen;
                                margin: 16px;
                                margin-left: auto;
                            }
                        }
                        .content {
                            background: #444;
                            width: 100%;
                        }
                    }
                    .articleInfo {
                        flex: 1;
                        margin: 16px;
                        overflow: hidden;
                        display: flex;
                        flex-wrap: wrap;
                        .articleHeader {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            margin-bottom: 16px;
                            .article-title {
                                width: 100%;
                                font-size: 1.4rem;
                                .editButton {
                                    margin-left: 20px;
                                    transition: transform 100ms ease-in-out;
                                    &:hover {
                                        transform: scale(1.2);
                                    }
                                }
                            }
                            .article-date {
                                width: 100%;
                                margin-top: 8px;
                                margin-left: auto;
                            }
                        }
                        .article-description {
                            overflow: hidden;
                            width: 100%;
                            max-height: 9em;
                            position: relative;
                            &:after {
                                content: "...";
                                position: absolute;
                                right: 8px;
                                bottom: 0;
                            }
                            &::ng-deep img {
                                display: none;
                            }
                        }
                    }
                    .article-thumbnail {
                        width: 250px;
                        height: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
        .timelineArea {
            grid-area: timeline;
            .timelineHeader {
                width: 80%;
                margin: 50px 0 0 auto;
                padding-bottom: 8px;
                border-bottom: @defaultBorder;
                display: flex;
                align-items: center;

                .loading-container{
                    margin-left: 16px;
                    .loading{
                        height: 25px;
                        position: relative;
                        width: 25px;
                        border-radius: 100%;
                        border: 2px solid transparent;
                        border-color: transparent #444 transparent #444;
                        animation: rotate-loading 1.5s linear 0s infinite normal;
                        transform-origin: 50% 50%;
                    }                
                }

            }
            .timelineContent {
                width: 80%;
                display: flex;
                flex-direction: column;
                margin: 20px 0 0 auto;
                &:after {
                    content: "";
                    width: 11px;
                    height: 11px;
                    background: darken(@defaultBorderColor, 30%);
                    border-radius: 50%;
                    position: relative;
                    left: 19px;
                }
                .timelineSection {
                    display: flex;
                    flex-direction: column;
                    .timelineSectionHeader {
                        padding: 8px;
                        position: relative;
                        cursor: pointer;
                        user-select: none;
                        &:before {
                            opacity: 0;
                            transition: opacity 200ms ease-in-out;
                            content: "";
                        }
                        &:after {
                            content: "";
                            opacity: 0;
                            transition: opacity 200ms ease-in-out;
                        }
                        &:hover {
                            color: @textColorHover;
                            &:before {
                                opacity: 1;
                                content: "- ";
                                position: absolute;
                                left: -3px;
                            }
                            &:after {
                                opacity: 1;
                                content: " -";
                            }
                        }
                    }
                    .timelineSectionContent {
                        margin-left: 24px;
                        padding-left: 24px;
                        border-left: @defaultBorder;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .timelineSectionItem {
                            margin: 8px;
                            width:100%;
                            padding: @paddingSmall;
                            cursor: pointer;
                            position: relative;
                            user-select: none;
                            .defaultTextTransition();
                            &:before {
                                opacity: 0;
                                transition: opacity 200ms ease-in-out;
                                content: "";
                            }
                            &:after {
                                content: "";
                                opacity: 0;
                                transition: opacity 200ms ease-in-out, text-shadow 200ms ease-in-out;
                            }
                            &:hover {
                                color: @textColorHover;
                                &:before {
                                    opacity: 1;
                                    content: "- ";
                                    position: absolute;
                                    left: -3px;
                                }
                                &:after {
                                    opacity: 1;
                                    content: " -";
                                }
                            }
                        }
                    }
                }
            }
        }
        .editViewContentWrapper {
            height: 100%;
            >* {
                width: 100%;
            }
            .inputItem,
            .submitEditButton,
            .deleteButton {
                margin-bottom: 16px;
            }
            .actionWrapper {
                display: flex;
                .submitEditButton {
                    width: 100px;
                    background: #6FAC01;
                    padding: 8px;
                    cursor: pointer;
                    margin-right: 16px;
                }
                .deleteButton {
                    width: 100px;
                    background: rgb(196, 52, 42);
                    padding: 8px;
                    cursor: pointer;
                }
            }
            .contentTextAreaWrapper {
                .contentTextArea {
                    width: 100%;
                    min-height: 60vh;
                }
            }
        }
    }
}

@media screen and (max-width: @mobileBreakpoint) {
    .travelSiteWrapper {
        padding: 6.5%;
        display: flex;
        flex-direction: column;
        .content-area {
            order: 2; // margin-top: 30px;
            .content-area-header {
                border-bottom: @defaultBorder;
            }
            .articles {
                .article {
                    height: 220px;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid #DDD;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.14);
                    margin: 30px 0;
                    position: relative;
                    .articleInfo {
                        order: 1;
                        flex: 1;
                        padding: 8px;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;

                        .articleHeader {
                            display: flex;
                            padding-bottom: 8px;
                            border-bottom: 1px solid #aaa;
                            .article-title {
                                z-index: 1000;
                            }
                            .article-date {
                                margin-left: auto
                            }
                        }
                        .article-description {
                            overflow: hidden;
                            width: 100%;
                            margin-top: 8px;
                            flex: 1;

                            &::ng-deep img {
                                display: none;
                            }
                        }
                    }
                    .article-thumbnail {
                        display: none;
                    }
                }
            }
        }
        .timelineArea {
            display: none !important;
            .timelineHeader {
                border-bottom: @defaultBorder;
            }
        }
        .timelineAreaMobile {
            width: 100%;
            height: 75px;
            overflow: hidden;
            .innerScrollWrapper {
                overflow-x: scroll;
                display: flex;
                width: 100%;
                height: 100%;
                padding-bottom: 17px;
                /* Increase/decrease this value for cross-browser compatibility */
                box-sizing: content-box;
                /* So the width will be 100% + 17px */
                .testChild {
                    width: 100px;
                    background: red;
                    margin: 0 8px;
                    min-width: 100px;
                }
            }
        }
    }
    .editViewContentWrapper {
        height: 100%;
        >* {
            width: 100%;
        }
        .inputItem,
        .submitEditButton,
        .deleteButton {
            margin-bottom: 16px;
        }
        .actionWrapper {
            display: flex;
            .submitEditButton {
                width: 100px;
                background: #6FAC01;
                padding: 8px;
                margin-right: 16px;
            }
            .deleteButton {
                width: 100px;
                background: rgb(196, 52, 42);
                padding: 8px;
            }
        }
        .contentTextAreaWrapper {
            .contentTextArea {
                width: 100%;
                min-height: 60vh;
            }
        }
    }
}


@keyframes rotate-loading {
    0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
    }
  }