@font-face {
  font-family: ComfortaaLight;
  src: url('assets/fonts/Comfortaa-Light.ttf');
}
.defaultTextTransition {
  transition: color 200ms ease-in-out;
}
.quickAnimation {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated-300ms {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animationFix {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
}
.delay-100ms {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
.delay-200ms {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.delay-300ms {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
.delay-400ms {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
.delay-600ms {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.delay-700ms {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}
.delay-800ms {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}
.delay-900ms {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}
.delay-1000ms {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.delay-1100ms {
  -webkit-animation-delay: 1100ms;
  animation-delay: 1100ms;
}
.delay-1200ms {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}
.delay-1300ms {
  -webkit-animation-delay: 1300ms;
  animation-delay: 1300ms;
}
.delay-1400ms {
  -webkit-animation-delay: 1400ms;
  animation-delay: 1400ms;
}
.delay-1500ms {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}
.delay-1600ms {
  -webkit-animation-delay: 1600ms;
  animation-delay: 1600ms;
}
.delay-1700ms {
  -webkit-animation-delay: 1700ms;
  animation-delay: 1700ms;
}
.active {
  font-weight: bold;
  color: black;
}
.articleContent::ng-deep img {
  width: 100%;
  margin: 20px 0;
}
@media screen and (min-width: calc(768px + 1px)) {
  .travelSiteWrapper {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 70% 30%;
    grid-template-areas: "content timeline";
    padding: 0 5% 50px;
  }
  .travelSiteWrapper .content-area {
    grid-area: content;
  }
  .travelSiteWrapper .content-area .content-area-header {
    width: 100%;
    max-width: 850px;
    margin-top: 50px;
    padding-bottom: 8px;
    border-bottom: 1px solid #aaa;
  }
  .travelSiteWrapper .content-area .articles .article {
    height: 250px;
    display: flex;
    width: 100%;
    max-width: 850px;
    border: 1px solid #DDD;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.14);
    margin: 30px 0;
    cursor: pointer;
    position: relative;
  }
  .travelSiteWrapper .content-area .articles .article .wrapper {
    background: grey;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
  }
  .travelSiteWrapper .content-area .articles .article .wrapper .header {
    background: steelblue;
    width: 100%;
    display: flex;
    padding: 8px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .travelSiteWrapper .content-area .articles .article .wrapper .header .title {
    background: orange;
    font-size: 1.6rem;
  }
  .travelSiteWrapper .content-area .articles .article .wrapper .header .date {
    background: limegreen;
    margin: 16px;
    margin-left: auto;
  }
  .travelSiteWrapper .content-area .articles .article .wrapper .content {
    background: #444;
    width: 100%;
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo {
    flex: 1;
    margin: 16px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo .articleHeader {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo .articleHeader .article-title {
    width: 100%;
    font-size: 1.4rem;
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo .articleHeader .article-title .editButton {
    margin-left: 20px;
    transition: transform 100ms ease-in-out;
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo .articleHeader .article-title .editButton:hover {
    transform: scale(1.2);
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo .articleHeader .article-date {
    width: 100%;
    margin-top: 8px;
    margin-left: auto;
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo .article-description {
    overflow: hidden;
    width: 100%;
    max-height: 9em;
    position: relative;
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo .article-description:after {
    content: "...";
    position: absolute;
    right: 8px;
    bottom: 0;
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo .article-description::ng-deep img {
    display: none;
  }
  .travelSiteWrapper .content-area .articles .article .article-thumbnail {
    width: 250px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .travelSiteWrapper .timelineArea {
    grid-area: timeline;
  }
  .travelSiteWrapper .timelineArea .timelineHeader {
    width: 80%;
    margin: 50px 0 0 auto;
    padding-bottom: 8px;
    border-bottom: 1px solid #aaa;
  }
  .travelSiteWrapper .timelineArea .timelineContent {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 auto;
  }
  .travelSiteWrapper .timelineArea .timelineContent:after {
    content: "";
    width: 11px;
    height: 11px;
    background: #5e5e5e;
    border-radius: 50%;
    position: relative;
    left: 19px;
  }
  .travelSiteWrapper .timelineArea .timelineContent .timelineSection {
    display: flex;
    flex-direction: column;
  }
  .travelSiteWrapper .timelineArea .timelineContent .timelineSection .timelineSectionHeader {
    padding: 8px;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  .travelSiteWrapper .timelineArea .timelineContent .timelineSection .timelineSectionHeader:before {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    content: "";
  }
  .travelSiteWrapper .timelineArea .timelineContent .timelineSection .timelineSectionHeader:after {
    content: "";
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  .travelSiteWrapper .timelineArea .timelineContent .timelineSection .timelineSectionHeader:hover {
    color: #000000;
  }
  .travelSiteWrapper .timelineArea .timelineContent .timelineSection .timelineSectionHeader:hover:before {
    opacity: 1;
    content: "- ";
    position: absolute;
    left: -3px;
  }
  .travelSiteWrapper .timelineArea .timelineContent .timelineSection .timelineSectionHeader:hover:after {
    opacity: 1;
    content: " -";
  }
  .travelSiteWrapper .timelineArea .timelineContent .timelineSection .timelineSectionContent {
    margin-left: 24px;
    padding-left: 24px;
    border-left: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .travelSiteWrapper .timelineArea .timelineContent .timelineSection .timelineSectionContent .timelineSectionItem {
    margin: 8px;
    padding: 8px;
    cursor: pointer;
    position: relative;
    user-select: none;
    transition: color 200ms ease-in-out;
  }
  .travelSiteWrapper .timelineArea .timelineContent .timelineSection .timelineSectionContent .timelineSectionItem:before {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    content: "";
  }
  .travelSiteWrapper .timelineArea .timelineContent .timelineSection .timelineSectionContent .timelineSectionItem:after {
    content: "";
    opacity: 0;
    transition: opacity 200ms ease-in-out, text-shadow 200ms ease-in-out;
  }
  .travelSiteWrapper .timelineArea .timelineContent .timelineSection .timelineSectionContent .timelineSectionItem:hover {
    color: #000000;
  }
  .travelSiteWrapper .timelineArea .timelineContent .timelineSection .timelineSectionContent .timelineSectionItem:hover:before {
    opacity: 1;
    content: "- ";
    position: absolute;
    left: -3px;
  }
  .travelSiteWrapper .timelineArea .timelineContent .timelineSection .timelineSectionContent .timelineSectionItem:hover:after {
    opacity: 1;
    content: " -";
  }
  .travelSiteWrapper .editViewContentWrapper {
    height: 100%;
  }
  .travelSiteWrapper .editViewContentWrapper > * {
    width: 100%;
  }
  .travelSiteWrapper .editViewContentWrapper .inputItem,
  .travelSiteWrapper .editViewContentWrapper .submitEditButton,
  .travelSiteWrapper .editViewContentWrapper .deleteButton {
    margin-bottom: 16px;
  }
  .travelSiteWrapper .editViewContentWrapper .actionWrapper {
    display: flex;
  }
  .travelSiteWrapper .editViewContentWrapper .actionWrapper .submitEditButton {
    width: 100px;
    background: #6FAC01;
    padding: 8px;
    cursor: pointer;
    margin-right: 16px;
  }
  .travelSiteWrapper .editViewContentWrapper .actionWrapper .deleteButton {
    width: 100px;
    background: #c4342a;
    padding: 8px;
    cursor: pointer;
  }
  .travelSiteWrapper .editViewContentWrapper .contentTextAreaWrapper .contentTextArea {
    width: 100%;
    min-height: 60vh;
  }
}
@media screen and (max-width: 768px) {
  .travelSiteWrapper {
    padding: 6.5%;
    display: flex;
    flex-direction: column;
  }
  .travelSiteWrapper .content-area {
    order: 2;
  }
  .travelSiteWrapper .content-area .content-area-header {
    border-bottom: 1px solid #aaa;
  }
  .travelSiteWrapper .content-area .articles .article {
    height: 220px;
    display: flex;
    flex-direction: column;
    border: 1px solid #DDD;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.14);
    margin: 30px 0;
    position: relative;
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo {
    order: 1;
    flex: 1;
    padding: 8px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo .articleHeader {
    display: flex;
    padding-bottom: 8px;
    border-bottom: 1px solid #aaa;
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo .articleHeader .article-title {
    z-index: 1000;
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo .articleHeader .article-date {
    margin-left: auto;
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo .article-description {
    overflow: hidden;
    width: 100%;
    margin-top: 8px;
    flex: 1;
  }
  .travelSiteWrapper .content-area .articles .article .articleInfo .article-description::ng-deep img {
    display: none;
  }
  .travelSiteWrapper .content-area .articles .article .article-thumbnail {
    display: none;
  }
  .travelSiteWrapper .timelineArea {
    display: none !important;
  }
  .travelSiteWrapper .timelineArea .timelineHeader {
    border-bottom: 1px solid #aaa;
  }
  .travelSiteWrapper .timelineAreaMobile {
    width: 100%;
    height: 75px;
    overflow: hidden;
  }
  .travelSiteWrapper .timelineAreaMobile .innerScrollWrapper {
    overflow-x: scroll;
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 17px;
    /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
    /* So the width will be 100% + 17px */
  }
  .travelSiteWrapper .timelineAreaMobile .innerScrollWrapper .testChild {
    width: 100px;
    background: red;
    margin: 0 8px;
    min-width: 100px;
  }
  .editViewContentWrapper {
    height: 100%;
  }
  .editViewContentWrapper > * {
    width: 100%;
  }
  .editViewContentWrapper .inputItem,
  .editViewContentWrapper .submitEditButton,
  .editViewContentWrapper .deleteButton {
    margin-bottom: 16px;
  }
  .editViewContentWrapper .actionWrapper {
    display: flex;
  }
  .editViewContentWrapper .actionWrapper .submitEditButton {
    width: 100px;
    background: #6FAC01;
    padding: 8px;
    margin-right: 16px;
  }
  .editViewContentWrapper .actionWrapper .deleteButton {
    width: 100px;
    background: #c4342a;
    padding: 8px;
  }
  .editViewContentWrapper .contentTextAreaWrapper .contentTextArea {
    width: 100%;
    min-height: 60vh;
  }
}
