
<div class="galleryWrapper animated fadeIn">
    <div *ngFor="let picture of pictures" class="imagePreviewWrapper animated fadeIn {{picture.animationDelay}}" (click)="showPicture(picture)" >
        <img class="picture animationFix" src="{{picture.path}}" alt="Photograph">
        <div class="hoverOverlay animated slideInUp">
            <span class="description">{{picture.description}}</span>
        </div>
    </div>
    <div class="imagePreviewWrapper pseudoElement" *ngFor="let pseudo of pseudoElements" ></div>
</div>    

    




