
<div class="galleryWrapper animated fadeIn">
    <div *ngFor="let picture of pictures" class="imagePreviewWrapper animated fadeIn {{picture.animationDelay}}" (click)="showPicture(picture)" >
        <img class="picture animationFix" src="{{picture.path}}" alt="Photograph">
        <div class="hoverOverlay animated slideInUp">
            <span class="description">{{picture.description}}</span>
        </div>
    </div>
    <div class="imagePreviewWrapper pseudoElement" *ngFor="let pseudo of pseudoElements" ></div>
</div>    
<div class="photographyFooter">
    <img class="cameraThumbnail" src="../../../assets/images/camera.png">
    <div class="cameraInfoWrapper">
        <div class="item"><span class="descriptionTitle">Camera :</span><a href="https://shop.olympus.eu/en_GB/cameras/om-d/e-m5-mark-ii-body" target="blank" class="description"> Olympus E-M5 Mark II</a></div>
        <div class="item"><span class="descriptionTitle">Lens :</span> <a href="https://shop.olympus.eu/en_GB/lenses/om-d-pen-lenses/m-zuiko-digital-ed-12-40mm-1-2-8-pro" target="blank" class="description">Olympus 12-40mm F2.8 Pro</a></div>
    </div>
</div>