@import '../../../globalVariables.less';
.galleryWrapper{
        margin: 5% 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        .imagePreviewWrapper{
            width: 30%;
            min-width: 290px; //used to be 300 but more conveniant for responsiveness--> 2 columns until break to mobile
            height: 15vw;
            min-height: 200px;
            margin: 5px;
            overflow: hidden;
            cursor: pointer;
            position: relative;
    
            &:hover{
                .picture{
                    //transform: scale(1.05) translateY(-50%);
                    opacity: 0.85;
                }
    
                .hoverOverlay{
                    display: flex;
                }
            }
    
            .picture{
                opacity: 1;
                transition: opacity 200ms ease-in-out;
                width: 100%;
                min-height: 100%;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
            .hoverOverlay{
                position: absolute;
                bottom:0;
                left: 0;
                width: 100%;
                height: 50px;
                background: rgba(0, 0, 0, 0.75);
                display: none;
                .quickAnimation();
                align-items: center;
    
                .description{
                    text-align: center;
                    margin: 0 auto;
                    color: #eee;
                }
            }
        }
        .pseudoElement{
            cursor: initial;
            height: 0px;
            min-height: 0px;
        }  
}

.photographyFooter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    background: @footerColor;
 
    .cameraThumbnail{
        margin-left: 24px;
        height: 100px;
    }
    .cameraInfoWrapper{
        flex: 1;
        color: @textLightColor;
        margin-left: 24px;
        min-width: 300px;
        .item{
            padding: 8px;

            .descriptionTitle{
                width: 6em;
                display: inline-block;
            }

            .description{
                text-decoration: none;
                color: darken(@textLightColor, 30%);
                transition: color 200ms ease-in-out;
                &:hover{
                    color: darken(@textLightColor, 10%);
                }
            }
        }
       
    }
}

@media screen and (max-width: @mobileBreakpoint){
    .galleryWrapper{
        .imagePreviewWrapper{
            width: unset; 
            height: unset; 
            height: unset; 
            min-height: unset; 
            cursor: initial;

            .picture{
                min-height: unset;
                top: unset;
                transform: unset;
            }
            

            &:hover{
                .picture{
                    opacity: 1; 
                }
    
                .hoverOverlay{
                    display: none;
                }
            }
        }
    }
}

    
@media screen and (min-width: 1440px) {
    .galleryWrapper {   
        .imagePreviewWrapper {
       //     width: 24%;
        }
    }
}
